.PhraseResultList {
  flex: 1;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 1% 2%;
  margin: 0;
  
  overflow-y: auto;
  overscroll-behavior: contain;

  .PhraseResultListItem {
    padding: 20px;
    border-bottom: 1px solid rgb(200, 200, 200);

    .forms {
      font-size: larger;
      font-weight: 450;
    }
    
    .forms, .meanings {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}